* {
  margin: 0;
  padding: 0;
}
#main-section {
  margin: auto;
  width: 800px;
}

#main-section h1 {
  text-align: center;
  margin: 50px;
}

#main-section p {
  text-align: justify;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
}

#container-button {
  width: max-content;
}