h1 {
    text-align: center;
}
.content {
    margin: 80px auto;
    width: 900px;
}
.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
}

.goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
}

.baloon {
    position: absolute;
    margin: 0px 0px 0px 300px;
    z-index: 3;
}

.speach {
    font-size: 25px;
    position: absolute;
    margin: 65px 0px 0px 322px;
    z-index: 4;
}

.bowser {
    width: 200px;
    position: absolute;
    margin: 160px 0px 0px 575px;
}