* {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    font-family: sans-serif;
}

header {
    text-align: center;
    font-size: 50px;
    margin: 50px;
    font-weight: bold;
}

nav {
    text-align: right;
    height: 50px;
    background-color: red;
    font-weight: bold;
}

nav li {    
    color: white;
    font-size: 20px;
    margin: 11px 20px 0px 20px;
    display: inline-block;
}

article {
    display: inline-block;
    width: 60%;
    margin: 0px 100px 0px 20px;
}

article img {
    width: 200px;
    float: left;
    margin: 0px 10px 0px 10px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 50px 0px;
}

article h2 {
    font-size: 20px;
    text-align: left;
    margin: 20px 0px;
}

article p {
    font-size: 18px;
    text-align: justify;
}

.section1, .section2, .section3, .section4, .section5 {
    margin: 100px 0px;
}

.section1 em {
    font-size: 100%;
}

.tableSection {
    text-align: center;
    width: auto;
    margin: 80px auto 0px auto;
    padding: 20px 20px;
}

.tableSection h2 {
    text-align: center;
    margin: 20px;
}

.table th{
    width: 10%;
    border: solid 2px black;
    font-size: 16px;
}

aside {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}