* {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    font-family: sans-serif;
}

header {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-weight: bold;
}

nav {
    text-align: right;
    height: 50px;
    background-color: red;
    font-weight: bold;
}

nav li {    
    color: white;
    font-size: 20px;
    margin: 11px 20px 0px 20px;
    display: inline-block;
}

